.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px;
  border-bottom: 1px solid #d3cbd9;
}
.phone {
  text-align: right;
}
.phone p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: right;
  text-transform: uppercase;
  color: #858e8a;
  margin-bottom: 8px;
}
.header-logo {
  display: block;
}
.phone a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  text-decoration: none;
  transition: color 200ms;
}
.phone a:hover {
  color: #3596ed;
}
